.app-wrapper {
  width: 80%;
  max-width: 1440px;
  margin: auto;
}

Form {
  max-width: 600px;
  margin: 30px auto;
}

.center {
  display: block;
  margin: auto;
}

.card {
  margin: 20px auto;
}

.border-success {
  border-color: #b0d0b7;
  border-width: 3px;
}